#extends("/page/layout/3columns.vm")

#block("sidebar")
    #widget("/widget/sidebarmenus/sidebarmenus.vm" "var:menus=$menus.get(0).children")
#end

#block("sidebarSecondary")
    ## 注意只里面的 with:$sidebar 意思是将当前 sidebar 变量对象中的所有属性作为 widget 里面的局部变量。
    #widget("/widget/sidebarmenus/sidebarmenus.vm" "with:$sidebar")
#end

#block("content")
    ## 内嵌 markdown 文件，这是编译期做得事情。
    <div class="markdown">
    <!--inline[./_standard.md]-->
    </div>
#end

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#require("./standard.vm")
#end
