#set($pageTitle="spring 整合")
#extends("page/layout/2columns-with-left-sidebar.vm")

#block("sidebar")
    #widget("widget/sidebarmenus/sidebarmenus.vm" "var:menus=$menus.get(4).children")
#end

#block("content")

    #script()
    console.log('js');
    #end

#end## end of body

<div id="#setabdev">

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#require("page/be/spring.vm")
#end
