<!--FIS_STYLE_PLACEHOLDER-->

<div class="xhrWrap">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">#if($pageTitle)$pageTitle#else$title#end</h4>
    </div>


    <div class="modal-body">#block("content")
        body place holder
    #end</div>
</div>

<!--FIS_FRAMEWORK_CONFIG-->
<!--FIS_SCRIPT_PLACEHOLDER-->
