## 首页布局
#extends("./frame.vm")

    #block("body")
        #block("header")
            #widget("/widget/header/header.vm")
        #end

        #block("content")#end

        #block("footer")
            #widget("/widget/footer/footer.vm")
        #end
    #end
#end
