<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-table">
        <div class="modal-table-cell">
            <div class="modal-dialog">
                <div class="modal-content modal-dialog-center">
                    <p class="modal-loading"><i class="fa fa-spinner fa-spin"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>