#set($title = "单页示例")
#set($pageTitle = "单页示例")
#extends("/page/layout/smart.vm")

    #block("sidebar")
        #widget("/widget/sidebarmenus/sidebarmenus.vm" "var:menus=$menus.get(1).children")
    #end

    #block("content")
        <div id="pager" class="btn-group">
          <a href="$!{request.contextPath}/examples/spa/page1" class="btn btn-default">页面1</a>
          <a href="$!{request.contextPath}/examples/spa/page2" class="btn btn-default active">页面2</a>
          <a href="$!{request.contextPath}/examples/spa/page3" class="btn btn-default">页面3</a>
        </div>

        <p>单页内容二</p>

        <div class="bs-callout bs-callout-info">
            <h4>注意此处内容切换是不会刷新页面的。</h4>
            <p>请打开网络面板观察请求。</p>
        </div>
    #end

    #script()
    // fis async
    require(['./spa'], function(app) {
        app('#pager');
    });
    #end

    ## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
    #require("./page2.vm")
#end
